.banner{
    background-image: url(https://camo.githubusercontent.com/94404b4c51df8434a5e4f4056b9b06f9743ad5657011ec6b7f6844cd73c6b56f/68747470733a2f2f7777772e6469676974616c736f6c7574696f6e73657276696365732e636f6d2f696d672f73657276696365732f77656273697465312e676966); 
    height: 400px;
    width: 150;
    background-color: orange;
    color: brown;
    text-decoration-line: underline;
  text-decoration-style: double;
    margin:30;
    padding:30px;
    text-align: center;
    font-size: 40px;
    border:darkblue;
}

.menu{
    display: flex;
    align-items: center;
    font-size: 18px;
    justify-content: space-evenly;
    padding: 20px 50px;
    text-decoration: none;
    /* width: 30vw; */
}

.menu_it {
    text-decoration: none;
    background-color: #d5d5d5;
  display: block;
  color:lavenderblush;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10px;
  transition: 250ms;
}

.menu_it:hover {
    opacity: 0.5;
    color: grey;
}

.menu_it:visited {
    color: darkred;
}


body {
  background-color: beige;


}

 h2 {
   margin: 1em 0 0.5em 0;
    color: grey;
    font-weight: normal;
    font-family: 'Ultra', sans-serif;   
    font-size: 70px;
    line-height: 80px;
    text-transform: uppercase;
    text-shadow: 0 2px white, 0 3px #777;
    text-align: center;
    border-style: double;
    border-color: darkorange;
}
#main-heading {
    margin: 1em 0 0.5em 0;
    color: orange;
    font-weight: normal;
    font-size: 70px;
    line-height: 80px;
    font-family: 'Orienta', sans-serif}

p{  margin: 1em 0 0.5em 0;
    color: darkorange;
    font-size: 40px;
    line-height: 50px;
    font-weight: normal;
    font-family: 'Orienta', sans-serif;
text-align: center;}

#requirements {
    margin: 1em 0 0.5em 0;
    color: sienna;
    font-size: 25px;
    line-height: 50px;
    font-weight: normal;
    font-family: 'Orienta', sans-serif;}

    #submission {
        width: 5;
        height: 10;
        text-align: center
  
    }
img {
    max-width: 100%;
    height: auto;
}

h3 {margin: 1em 0 0.5em 0;
    color: darkgray;
    font-weight: normal;
    font-family: 'Ultra', sans-serif;   
    font-size: 55px;
    line-height: 80px;
    text-transform: uppercase;
    text-shadow: 0 2px white, 0 3px #777;
    text-align: center;
border-style: outset;
border-color: gray;}

#grading {margin: 1em 0 0.5em 0;
    color: darkgray;
    font-weight: normal;
    font-family: 'Ultra', sans-serif;   
    font-size: 35px;
    line-height: 80px;
    text-align: center;
    border-collapse: revert-layer;
    table-layout: auto;
}
#deadline {
    font-size: 35px;
    line-height: 80px;
    text-align: center;
    color: darkgreen;
    border: dotted 5px aquamarine;
    border-color: darkgreen;
}
h4 {margin: 1em 0 0.5em 0;
    color: grey;
    font-weight: normal;
    font-family: 'Ultra', sans-serif;   
    font-size: 25px;
    line-height: 80px;
    text-transform: uppercase;
    text-shadow: 0 2px white, 0 3px #777;
    text-align: center;
border-style: outset;
border-color: gray;}

.contacts {
    width: 100%;
    float: left;
    background-color:0A8100;
    height: auto;
    border-radius: 5px;
    color: black;

    font-size: 55;
}

h5 {margin: 1em 0 0.5em 0;
    color: darkorange;
    font-weight: normal;
    font-family: 'Ultra', sans-serif;   
    font-size: 40px;
    line-height: 80px;
    text-transform: uppercase;
    text-shadow: 0 2px white, 0 3px #777;
    text-align: center;
border-style: outset;
border-color: gray;
}


.categories{color:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    top: 0;
    width: 100%;
    font-size:30px; 

   }

ol {
  background: #ff9999;
  padding: 20px;
}

ul {
  background: #3399ff;
  padding: 20px;
  list-style-type:none
}

ol li {
  background: #ffe5e5;
  color: darkred;
  padding: 5px;
  margin-left: 35px;
  list-style-type:none
}

ul li {
  background: #cce5ff;
  color: darkblue;
  margin: 5px;
  list-style-type:none
}
   .quick_links{color:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    top: 0;
    width: 100%;
    font-size:30px; 

   }

   .table {margin-left: auto;  
        margin-right: auto;}
        iframe {
            height: 400px;
            width: 100%;
        }

        h1 [name] {
            text-align: left;
        }
